body.dark-mode {
    background-color: #121212;
    color: white;
}

body.dark-mode .navbar {
    background-color: #1f1f1f !important;
}

body.dark-mode .navbar a,
body.dark-mode .btn {
    color: white !important;
}

body.dark-mode .btn-outline-secondary {
    border-color: white;
}