@using GeneCare.Models.DTO
@using GeneCare.Models.Utils
@{
    ViewData["Title"] = "Home";
    var user = Context.Session.getObject<UserDTO>("user") ?? new UserDTO();
}
<br />

@user.Email

@if (Context.User.Identity.IsAuthenticated)
{
    <br />
    <h3>Wellcome @User.Identity.Name</h3>
    <br />
    <a class="btn-primary" asp-controller="Login" asp-action="Logout">Logout</a>

}
