@{
    ViewData["Title"] = "Services";
    Layout = "_Layout"; 
}
<div>
    <h1>@ViewData["Title"]</h1>
    <h3><a asp-controller="Services" asp-action="CivilServices">Civil Services</a></h3>
    <h3><a asp-controller="Services" asp-action="LegalServices">Legal services</a></h3>
</div>
